@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Theme/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Theme/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Theme/css/default.css" rel="stylesheet" />
    <script src="~/Theme/scripts/jquery.min.js"></script>
    <title>仓储管理系统</title>
    <!--JSFile-->
    <script type="text/javascript">
        $(function () {
            $('#sidebar > ul').find('li').each(function () {
                $(this).click(function () {
                    if ($(this).children().siblings('ul.sub').css('display') == 'none') {
                        $('#sidebar > ul').find('li').removeClass('active');
                        $('#sidebar > ul').find('li').children().siblings('ul.sub').slideUp(100).children('li');
                        $('#sidebar > ul').find('li').children().siblings('ul.sub').siblings('a').children().siblings('span.fa-caret-down').removeClass('fa fa-caret-down').addClass('fa fa-caret-left');
                        $(this).addClass('active');
                        $(this).children().siblings('ul.sub').slideDown(100).children('li');
                        $(this).children().siblings('a').children().siblings('span.fa-caret-left').removeClass('fa fa-caret-left').addClass('fa fa-caret-down');
                        $(this).children().siblings('ul.sub').find('li').each(function () {
                            $('ul.sub').find('li').click(function () {
                                var n = '<iframe width="100%" height="100%" marginwidth="0"  scrolling="no" marginheight="0" src="' + $(this).children().attr('href') + '" frameborder="0"></iframe>';
                            //    $.ajax({
                            //        url: $(this).children().attr('href'),
                            //        post: 'post',
                            //        dataType: 'html',
                            //        success: function (data) {
                            //            if (data) {
                            //                $('#content').html('');
                            //                $('#content').append(data);
                            //            }
                            //        }
                                //    });
                                $('#content').html('');
                                $('#content').html(n);
                            });
                        });
                    } else {
                        $(this).removeClass('active');
                        $(this).children().siblings('ul.sub').slideUp(100).children('li');
                        $(this).children().siblings('a').children().siblings('span.fa-caret-down').removeClass('fa fa-caret-down').addClass('fa fa-caret-left');
                    }
                    return false;
                });
            });
            masterUI.ToggleMenu();
        });

        var masterUI = {
            ToggleMenu: function () {
                //用于左侧菜单展开以及显示
                $(".sidebar-toggler").click(function () {
                    var MenuStatus = "open";
                    if (!$("#body").hasClass("sidebar-closed")) {
                        $("#body").addClass("sidebar-closed");
                        MenuStatus = "close";
                    } else {
                        $("#body").removeClass("sidebar-closed");
                        MenuStatus = "open";
                    }
                    //var param = {};
                    //param["MenuStatus"] = MenuStatus;
                    //$.gitAjax({
                    //    url: "/Common/SetMenuStatus", type: "post", data: param, success: function (result) {
                    //    }
                    //});
                });
            }
        }
    </script>
</head>
<body class="fixed-top">
    @Html.Partial("_Top")
    <div id="body" class="">
        @Html.Partial("_LeftMenu")
        <div id="container">
            <div id="navigation">
                @Html.Raw(ViewBag.NavMenu)
            </div>
            <div id="content">
                <br /><br /><br /><br /><br />
                <h1>开发中……</h1>
                <h1>开发中……</h1>
                <h1>开发中……</h1>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
</body>
</html>
