<div id="footer" style="padding: 8px 15px 5px 15px; bottom:0; font-size: 12px; color: #999;text-align:right;">
    技术交流 QQ:375358238  源码地址:<a href="https://github.com/panwenfei/Awesome.git" target="_blank">https://github.com/panwenfei/Awesome.git</a> 
</div>
