<div id="sidebar" style="height:100% !important;overflow:visible;position:absolute;">
    <ul>
        @Html.Raw(ViewBag.MenuItems)
        @*<li class="has-sub">
            <a href="javascript:void(0)">
                <i class="glyphicon glyphicon-user"></i>
                <span class="title">系统设置</span>
                <span class="fa fa-caret-left" style="float:right;margin-top:3px;"></span>
            </a>
            <ul class="sub">
                <li>
                    <a href="/Home/Index">
                        <span>权限分配</span>
                    </a>
                </li>
                <li><a href="javascript:void(0)">菜单管理</a></li>
            </ul>
        </li>*@
    </ul>
</div>