<div id="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)">仓储管理系统</a>
            <div class="top-nav">
                <ul class="nav pull-right" id="top_menu">
                    <li class="divider-vertical hidden-phone hidden-tablet"></li>
                    <li class="divider-vertical hidden-phone hidden-tablet"></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" style="padding:16px 5px 16px;">
                            <i class="glyphicon glyphicon-user"></i>&nbsp;当前登录
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)"><i class="icon-user"></i>&nbsp;&nbsp;Awe.pan</a></li>
                            <li><a href="javascript:void(0)"><i class="icon-wrench"></i>&nbsp;&nbsp;修改密码</a></li>
                            <li><a href="javascript:void(0)"><i class="icon-key"></i>退出系统</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



