@{
    Layout = null;
}

<!DOCTYPE html>

<html style="height:100% !important;">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Theme/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Theme/css/font-awesome.min.css" rel="stylesheet" />
    @*<link href="~/Theme/css/font-awesome.css" rel="stylesheet" />*@
    <link href="~/Theme/css/default.css" rel="stylesheet" />
    <script src="~/Theme/scripts/jquery-1.10.2.min.js"></script>
    <title>仓储管理系统</title>
    <!--JSFile-->
    <script type="text/javascript">
        $(function () {
            $('#sidebar > ul').find('li').each(function () {
                $(this).click(function () {
                    if ($(this).children().siblings('ul.sub').css('display') == 'none') {
                        $('#sidebar > ul').find('li').removeClass('active');
                        $('#sidebar > ul').find('li').children().siblings('ul.sub').slideUp(100).children('li');
                        $('#sidebar > ul').find('li').children().siblings('ul.sub').siblings('a').children().siblings('span.fa-caret-down').removeClass('fa fa-caret-down').addClass('fa fa-caret-left');
                        $(this).addClass('active');
                        $(this).children().siblings('ul.sub').slideDown(100).children('li');
                        $(this).children().siblings('a').children().siblings('span.fa-caret-left').removeClass('fa fa-caret-left').addClass('fa fa-caret-down');
                        $(this).children().siblings('ul.sub').find('li').each(function () {
                            $('ul.sub').find('li').click(function () {
                                $.ajax({
                                    url: $(this).children().attr('href'),
                                    post: 'post',
                                    dataType: 'html',
                                    success: function (data) {
                                        if (data) {
                                            $('#content').html('');
                                            $('#content').html(data);
                                        }
                                    }
                                });
                            });
                        });
                    } else {
                        $(this).removeClass('active');
                        $(this).children().siblings('ul.sub').slideUp(100).children('li');
                        $(this).children().siblings('a').children().siblings('span.fa-caret-down').removeClass('fa fa-caret-down').addClass('fa fa-caret-left');
                    }
                    return false;
                });
            });
        });
    </script>
</head>
<body style="background-image: url('../../Theme/images/bg-default.png') !important; background-color:#3c3c3c !important;height:100% !important;margin-top:51px;font-family:Arial;font-size:13px;">
    @Html.Partial("_Top")
    <div id="body" style="height:100% !important;margin-top:52px;">
        @Html.Partial("_LeftMenu")
        <div id="content" style="margin-left: 180px;height:100% !important;margin-top:0px !important;border-bottom:2px solid #ddd; background:#f7f7f7 url('../../Theme/images/body-bg.png');">
            <div style="text-align:center;">
                <br /><br /><br /><br /><br />
                <h1>开发中……</h1>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
</body>
</html>
